[submodule "PUPRemote"]
	path = PUPRemote
	url = https://github.com/antonvh/PUPRemote.git
[submodule "submodules/PUPRemote"]
	path = submodules/PUPRemote
	url = https://github.com/antonvh/PUPRemote.git
[submodule "submodules/UartRemote"]
	path = submodules/UartRemote
	url = https://github.com/antonvh/UartRemote.git
[submodule "submodules/SerialTalk"]
	path = submodules/SerialTalk
	url = https://github.com/antonvh/SerialTalk.git
[submodule "submodules/mpy-robot-tools"]
	path = submodules/mpy-robot-tools
	url = https://github.com/antonvh/mpy-robot-tools.git
